<!DOCTYPE html>
<html>
  <head>
    <%- include('./components/header') %>
    <title><%= __('app.title') %></title>
  </head>
  <body>
    <h1><%= __('app.title') %></h1>
    <p>Welcome to <%= __('app.title') %></p>
  </body>
</html>
